body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva,Verdana, sans-serif;
}

body {
    background: #ee5253;
    padding: 15px 60px;
    color: #fff;
    margin: 20px 50px;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}

button {
    background: #6ab04c;
}